<p-panel header="Basic pipes" class="p-1">
  <h1>Custom Pipes</h1>
  <p>
    Angular Custom Pipes
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="toggleCase">
      {{'Example text' | toggleCase:isUpperCase}}
    </p-card>
  </div>
</div>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button (onClick)="toggleUpperCase()" label="ToogleCase" icon="pi pi-search"></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button class="mr-2" (click)="changeOrder('name')" label="By name" icon="pi pi-sort"
      styleClass="p-button-success"></p-button>
    <p-button class="mr-2" (click)="changeOrder('time')" label="By era" icon="pi pi-sort"
      styleClass="p-button-danger"></p-button>
    <p-button class="mr-2" (click)="changeOrder('country')" label="By nationality" icon="pi pi-sort"
      styleClass="p-button-help"></p-button>
    <p-button class="mr-2" (click)="changeOrder('style')" label="By style" icon="pi pi-sort"
      styleClass="p-button-help"></p-button>
    <p-button class="mr-2" (click)="changeOrder('isAlive')" label="By alive" icon="pi pi-sort"
      styleClass="p-button-help"></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Female Artists You Need to Know">
      <p-table [value]="artists | sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Era</th>
            <th>Nationality</th>
            <th>Style</th>
            <th>Alive</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-artist>
          <tr>
            <td>{{ artist.name }}</td>
            <td>{{ artist.time }}</td>
            <td>{{ artist.country }}</td>
            <td>{{ artist.style | enumIntToDescription}}</td>
            <td>{{ artist.isAlive | isAlive }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>