<p-panel header="Basic pipes" class="p-1">
  <h1>Custom Pipes</h1>
  <p>
    Angular Custom Pipes
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="toggleCase">
      {{'Example text' | toggleCase:isUpperCase}}
    </p-card>
  </div>
</div>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button (onClick)="toggleUpperCase()" label="ToogleCase" icon="pi pi-search"></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button class="mr-2" label="By name" icon="pi pi-sort" styleClass="p-button-success"></p-button>
    <p-button class="mr-2" label="By fly" icon="pi pi-sort" styleClass="p-button-danger"></p-button>
    <p-button class="mr-2" label="By color" icon="pi pi-sort" styleClass="p-button-help"></p-button>
  </div>
</p-toolbar>