<p-panel header="Custom Pipes" class="p-1">
  <p>
    Angular Custom Pipes created from scratch
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button (onClick)="toggleUpperCase()" label="ToogleCase" icon="pi pi-arrow-up"></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button class="mr-2" (click)="changeOrder('name')" label="By name" icon="pi pi-sort"
      styleClass="p-button-success"></p-button>
    <p-button class="mr-2" (click)="changeOrder('time')" label="By era" icon="pi pi-sort"
      styleClass="p-button-danger"></p-button>
    <p-button class="mr-2" (click)="changeOrder('country')" label="By nationality" icon="pi pi-sort"
      styleClass="p-button-help"></p-button>
    <p-button class="mr-2" (click)="changeOrder('style')" label="By style" icon="pi pi-sort"
      styleClass="p-button-help"></p-button>
    <p-button class="mr-2" (click)="changeOrder('isAlive')" label="By alive" icon="pi pi-sort"
      styleClass="p-button-help"></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Female Artists You Need to Know">
      <p-table [value]="artists | sortBy:comparison:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>{{'Name' | toggleCase:isUpperCase}}</th>
            <th>{{'Era' | toggleCase:isUpperCase}}</th>
            <th>{{'Nationality' | toggleCase:isUpperCase}}</th>
            <th>{{'Style' | toggleCase:isUpperCase}}</th>
            <th>{{'Alive' | toggleCase:isUpperCase}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-artist>
          <tr>
            <td>{{ artist.name | titlecase}}</td>
            <td>{{ artist.time | titlecase}}</td>
            <td>{{ artist.country | titlecase}}</td>
            <td>{{ artist.style | enumIntToDescription| titlecase}}</td>
            <td>{{ artist.isAlive | isAlive | titlecase}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>