<p-panel header="Numeric Pipes" class="p-1">
  <p>
    Common Module Angular Pipes
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Gross sales" subheader="current year">
      {{totalSells | number:'1.2-2'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Net sales" subheader="current year">
      {{totalSells | currency:'GBP':'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Percentage gain" subheader="current year">
      {{percent | percent:'1.2-2'}}
    </p-card>
  </div>
</div>